*{
  background-color: rgb(214, 196, 31);    
}
h1{
  padding: 20px;
  text-align: center;
  background: #1abc58;
  color: white;
  font-size: 30px;
  margin-left: 24px;
}
.container{
  text-align: center;
  font-size: 24px;
}

