.jumbotron{
  width: auto;
  margin:170px;
  background-size: cover;
  background-color:goldenrod;
}
body{
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  align-items: center;
}
span{
  color:red;
}
span-1{
  color: green;
}
h1{
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration-line: underline;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-size: larger;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;


}
h2{
  font-size: xx-large;
  font-weight: bold;
  color: green;
  text-decoration-line: underline;
  text-align: justify;
  font-family:'Times New Roman', Times, serif;
}
h3{
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: x-large;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}
.row{
 padding-left: 150px;
 font-family:'Times New Roman', Times, serif;
}
ul{
  font-size: larger;
}
li{
  font-weight: bolder;
}

.jumbotron1{
  background-color:black;
  width: auto;
  color:goldenrod;
  padding-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
}
h4{
  font-size: x-large;
  text-align:left;
  padding-bottom:40px;
  padding-top: 30px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}
.footer{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 190px;
}